body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .todo-container {
    background: #d3d0d9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 50%;
    padding: 40px 50px;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  
  .input-container input {
    flex-grow: 1;
    height: 12px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin-right: 5px;
  }
  
  .input-container input:focus {
    outline: blue 1px solid;
  }
  
  .input-container button {
    width: 32px;
    height: 32px;
    background: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: larger;
  }
  
  .input-container button:hover {
    background: #eee;
  }
  
  .input-container button:active {
    background: #eee;
    border: blue 1px solid;
  }
  
  .task-list {
    margin-bottom: 30px;
  }
  
  .task-header {
    font-weight: lighter;
    font-size: small;
    margin-bottom: 10px;
  }
  
  .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background: white;
    border-radius: 10px;
    padding: 0px 20px;
  }
  
  .task p {
    font-size: smaller;
    font-weight: lighter;
    padding: 10px 0px;
  }
  
  .task button {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .task button:hover {
    background: #eee;
  }
  
  .task button:active {
    background: #eee;
    border: blue 1px solid;
  }
  .completed .task p {
    text-decoration: line-through;
  }
  